<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Menganalisis Rempah</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/img/ptik.png" rel="icon">
  <link href="/static/img/ptik.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="/static/css/style.css">
  <link href="/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">



  <!-- Template Main CSS File -->
  <link href="/static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">


      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="index" class="nav-link scrollto"> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><span>Pengantar</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><span>Pengenalan Bumbu Dapur</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto">
              <span>Resep Makanan</span></a></li>
          <li><a href="#services" class="nav-link scrollto"><span>Manfaat</span></a></li>
          <li><a href="klasifikasi" class="nav-link scrollto">
              <span>klasifikasi</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Menganalisis bumbu-bumbu &</h1>
      <h1>Turunannya untuk masakan</h1>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <div class="content mt-3">
            <div class="col-lg-12">
              <div class="card-body">
                <h2>Apa itu Bumbu?</h2>
                <p>Bumbu adalah suatu bahan
                  mempertinggi aroma
                  makanan tanpa
                  mengubah aroma bahan
                  alami.</p>

                <br>

                <h2>Apa itu Rempah?</h2>
                <p> Rempah adalah bagian tanaman
                  yang ditambahkan pada
                  makanan untuk menambah
                  atau membangkitkan selera
                  makan.</p>

                <br>

                <h2>Apa itu Bumbu Dapur?</h2>
                <p>Bumbu dapur adalah bahan alami yang digunakan untuk memberikan rasa, aroma, dan warna pada
                  masakan. Bumbu dasar adalah
                  kelompok bumbu utama yang sering digunakan sebagai dasar dalam berbagai masakan. Selain
                  bumbu dasar, terdapat juga
                  turunan bumbu, yaitu variasi bumbu yang dihasilkan dari kombinasi atau modifikasi bumbu
                  dasar. Pemahaman tentang bumbu
                  dasar dan turunannya penting dalam memahami dan mengolah berbagai masakan dengan cita rasa
                  yang beragam.</p>

                <br>

                <h1>Pentingnya Mengenal Bumbu Dasar dan Turunannya</h1>
                <li>Pemahaman tentang bumbu dasar dan turunannya memungkinkan kita untuk mengerti komposisi dan
                  karakteristik rasa dalam
                  berbagai masakan.</li>
                <li>Dengan menguasai bumbu dasar dan turunannya, kita dapat dengan mudah menciptakan variasi
                  masakan dengan cita rasa yang
                  berbeda-beda.</li>
                <li>Bumbu dasar dan turunannya juga membantu kita untuk menyesuaikan rasa masakan sesuai dengan
                  selera dan preferensi
                  masing-masing.</li>

                <br>

                <h2>Bagaimana Menggunakan Bumbu Dapur dengan Bijak?</h2>
                <p>Penggunaan bumbu dapur yang bijak akan menghasilkan masakan yang lezat dan seimbang dalam
                  rasa. Berikut adalah
                  beberapa tips dalam menggunakan bumbu dapur:</p>
                <ol>
                  <li>Gunakan bumbu secukupnya sesuai selera. Lebih baik mulai dengan jumlah kecil dan
                    tambahkan sedikit demi
                    sedikit jika diperlukan.</li>
                  <li>Perhatikan jenis masakan dan karakteristik bumbu yang digunakan. Sesuaikan bumbu dengan
                    jenis masakan yang
                    akan dibuat.</li>
                  <li>Gunakan bumbu segar untuk mendapatkan aroma dan rasa yang lebih intens. Namun, jika
                    tidak tersedia,
                    bumbu-bumbu kering juga dapat digunakan.</li>
                  <li>Pelajari kombinasi bumbu yang tepat untuk menciptakan cita rasa yang unik dan lezat.
                  </li>
                  <li>Perhatikan batas kepedasan jika menggunakan bumbu pedas seperti Cabai, terutama jika
                    masakan ditujukan
                    untuk semua anggota keluarga.</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->


    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Pengenalan Bumbu Dapur</h2>

        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Bumbu Dasar</h3>
            <div class="resume-item">
              <h4>Bawang Merah &amp; Bawang Putih:</h4>
              <ul>
                <li>Bumbu ini memiliki rasa tajam dan aroma
                  khas yang
                  menggugah selera. Digunakan dalam berbagai masakan, baik tumis, sup, hingga
                  sate.</li>
                <li>Bawang merah dan bawang putih adalah dua jenis bawang yang sering digunakan
                  dalam
                  masakan di seluruh dunia.</li>
                <li>Bawang merah memiliki ukuran lebih kecil dan warna merah keunguan, sedangkan
                  bawang putih berukuran lebih besar dengan
                  kulit luar berwarna putih.</li>
                <li>Bawang merah umumnya digunakan dalam tumisan, sambal, dan masakan berkuah,
                  sedangkan bawang putih digunakan dalam
                  berbagai jenis masakan.</li>
              </ul>
              <div class="row">
                <div class="col-6">
                  <img src="/static/img/portfolio/bawang-merah.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-6">
                  <img src="/static/img/portfolio/bawang-merah-2.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="resume-item">
              <h4>Cabai:</h4>
              <ul>
                <li>Memberikan rasa pedas pada masakan. Cabai dapat digunakan segar
                  atau dalam bentuk
                  bubuk.</li>
                <li>Terdapat berbagai jenis Cabai dengan tingkat kepedasan yang berbeda-beda.</li>
                <li>Cabai digunakan dalam berbagai masakan dari berbagai belahan dunia dan sering
                  digunakan
                  dalam bentuk segar, kering,
                  atau dalam bentuk bubuk.</li>
              </ul>
              <div class="row">
                <div>
                  <img src="/static/img/portfolio/cabai.jpg" alt="" class="img-fluid">
                </div>


              </div>
            </div>
            <div class="resume-item">
              <h4>Kunyit:</h4>
              <ul>
                <li>Bumbu kunyit memberikan warna kuning pada masakan dan memiliki
                  aroma khas yang
                  harum.</li>
                <li>Kunyit adalah bumbu dapur yang berasal dari akar tanaman kunyit, yang memiliki
                  warna
                  kuning khas.</li>
                <li>Selain digunakan sebagai bumbu masakan, kunyit juga sering digunakan sebagai
                  pewarna
                  alami untuk makanan.</li>
              </ul>
              <div class="row">
                <div class="col-6">
                  <img src="/static/img/portfolio/kunyit.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-6">
                  <img src="/static/img/portfolio/kunyit-2.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="resume-item">
              <h4>Jahe:</h4>
              <ul>
                <li>Memiliki rasa pedas dan aroma segar. Digunakan dalam masakan
                  seperti sup, soto, dan
                  hidangan Asia.</li>
                <li>Jahe adalah bumbu dapur yang berasal dari akar tanaman jahe.</li>
                <li>Bumbu ini memiliki rasa pedas dan aroma segar yang khas.</li>
              </ul>
              <div class="row">
                <div>
                  <img src="/static/img/portfolio/jahe.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="resume-item">
              <h4>Lengkuas:</h4>
              <ul>
                <li>Bumbu ini memiliki rasa khas yang kuat dan digunakan dalam
                  hidangan seperti
                  rendang dan gulai.</li>
                <li>Lengkuas, juga dikenal sebagai galangal, adalah bumbu dapur yang berasal dari
                  akar tanaman lengkuas.</li>
                <li>Bumbu ini memiliki rasa dan aroma yang kuat, dengan sentuhan rasa pedas dan
                  pahit.</li>
              </ul>
              <div class="row">
                <div>
                  <img src="/static/img/portfolio/lengkuas.jpeg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="resume-item">
              <h4>Kemiri:</h4>
              <ul>
                <li>Memberikan tekstur lembut dan rasa khas pada masakan. Biasanya
                  digunakan dalam
                  bumbu tumis atau bumbu kacang.</li>
                <li>Kemiri adalah jenis kacang-kacangan yang tumbuh di wilayah Asia Tenggara.</li>
                <li>Bumbu ini memiliki tekstur lembut dan rasa khas yang berminyak.</li>
              </ul>
              <div class="row">
                <div>
                  <img src="/static/img/portfolio/kemiri.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="resume-item">
              <h4>Ketumbar:</h4>
              <ul>
                <li>Bumbu ini memiliki aroma harum dan digunakan dalam berbagai
                  masakan, mulai dari
                  sayur, nasi goreng, hingga ayam goreng.</li>
                <li>TKetumbar adalah biji dari tanaman ketumbar yang memiliki rasa dan aroma
                  harum yang khas.</li>
              </ul>
              <div class="row">
                <div>
                  <img src="/static/img/portfolio/ketumbar.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="resume-item">
              <h4>Cengkeh:</h4>
              <ul>
                <li>Cengkeh adalah kuncup bunga kering dari pohon cengkeh.</li>
                <li>Cengkeh sering digunakan dalam hidangan berbahan daging, masakan
                  berkuah, dan dalam kue-kue tradisional.</li>
                <li>Cengkeh adalah kuncup bunga kering dari pohon cengkeh.</li>
              </ul>
              <div class="row">
                <div class="col-6">
                  <img src="/static/img/portfolio/cengkeh.png" alt="" class="img-fluid">
                </div>
                <div class="col-6">
                  <img src="/static/img/portfolio/cengkeh-2.jpeg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="resume-item">
              <h4>Temulawak:</h4>
              <ul>
                <li>Temulawak adalah tanaman herbal yang juga termasuk dalam keluarga jahe. Tanaman
                  ini umumnya ditemukan di Asia
                  Tenggara.</li>
                <li>Akar temulawak digunakan sebagai bumbu dapur karena memiliki rasa pahit dan
                  aroma yang khas.</li>
                <li>Bumbu ini digunakan dalam masakan untuk memberikan rasa dan aroma yang khas,
                  serta digunakan dalam jamu tradisional.</li>
              </ul>
              <div class="row">
                <div class="col-6">
                  <img src="/static/img/portfolio/temulawak.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-6">
                  <img src="/static/img/portfolio/temulawak-2.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="resume-item">
              <h4>Kencur:</h4>
              <ul>
                <li>Kencur adalah sejenis umbi-umbian yang tumbuh di Asia Tenggara, terutama di
                  Indonesia dan Malaysia.</li>
                <li>Bentuknya mirip dengan jahe, tetapi berukuran lebih kecil dan memiliki
                  permukaan bergerigi.</li>
                <li>Kencur memiliki aroma khas yang harum dan rasa yang sedikit pedas dan
                  hangat.</li>
                <li>Bumbu ini sering digunakan dalam masakan Indonesia, terutama dalam tumisan,
                  sup, dan hidangan berkuah.</li>
              </ul>
              <div class="row">
                <div>
                  <img src="/static/img/portfolio/kencur.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Bumbu Turunan</h3>
            <div class="resume-item">
              <h4>Bawang Merah Goreng:</h4>
              <ul>
                <li>awang merah goreng adalah bawang merah yang diiris tipis dan digoreng hingga
                  kering dan renyah. Bawang merah goreng
                  digunakan sebagai pelengkap dan hiasan pada berbagai hidangan seperti nasi
                  goreng, mie goreng, dan sup.</li>
              </ul>
              <div class="row">
                <div class="col-6">
                  <img src="/static/img/portfolio/brambang.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-6">
                  <img src="/static/img/portfolio/brambang-2.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="resume-item">
              <h4>Bawang Putih Bubuk:</h4>
              <ul>
                <li>Bawang putih bubuk adalah bawang putih segar yang diolah menjadi bentuk bubuk
                  halus. Bawang putih bubuk digunakan untuk
                  memberikan aroma dan rasa bawang putih pada berbagai masakan, saus, dan bumbu
                  kering.</li>
              </ul>
              <div class="row">
                <div class="col-6">
                  <img src="/static/img/portfolio/bawang-putih-bubuk.png" alt="" class="img-fluid">
                </div>
                <div class="col-6">
                  <img src="/static/img/portfolio/bawang-putih-bubuk-2.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="resume-item">
              <h4>Temulawak Bubuk:</h4>
              <ul>
                <li>Temulawak bubuk adalah temulawak segar yang diolah menjadi bentuk bubuk halus.
                  Temulawak bubuk digunakan untuk
                  memberikan rasa dan aroma temulawak pada masakan serta sebagai minuman
                  herbal.</li>
              </ul>
              <div class="row">
                <div class="col-6">
                  <img src="/static/img/portfolio/temulawak-bubuk.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-6">
                  <img src="/static/img/portfolio/temulawak-bubuk-2.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="resume-item">
              <h4>Jahe Bubuk:</h4>
              <ul>
                <li>Jahe bubuk adalah jahe segar yang diolah menjadi bentuk bubuk halus. Jahe bubuk
                  digunakan untuk memberikan rasa pedas
                  dan aroma jahe pada masakan, kue, dan minuman seperti teh jahe.</li>
              </ul>
              <div class="row">
                <div class="col-6">
                  <img src="/static/img/portfolio/jahe-bubuk.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-6">
                  <img src="/static/img/portfolio/jahe-bubuk-2.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="resume-item">
              <h4>Kunyit Bubuk:</h4>
              <ul>
                <li>Kunyit bubuk adalah kunyit segar yang diolah menjadi bentuk bubuk halus. Kunyit
                  bubuk digunakan sebagai pewarna alami
                  dan memberikan rasa serta aroma kunyit pada masakan, nasi kunyit, dan
                  bubur.</li>
              </ul>
              <div class="row">
                <div class="col-6">
                  <img src="/static/img/portfolio/kunyit-bubuk.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-6">
                  <img src="/static/img/portfolio/kunyit-bubuk-2.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="resume-item">
              <h4>Kemiri Sangrai:</h4>
              <ul>
                <li>Kemiri sangrai adalah biji kemiri yang dijemur dan disangrai hingga kering.
                  Kemiri sangrai digunakan untuk memberikan
                  rasa khas dan konsistensi lembut pada saus, rendang, dan hidangan berbumbu.</li>
              </ul>
              <div class="row">
                <div class="col-6">
                  <img src="/static/img/portfolio/kemiri-sangrai.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-6">
                  <img src="/static/img/portfolio/kemiri-sangrai-2.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="resume-item">
              <h4>Ketumbar Bubuk:</h4>
              <ul>
                <li>Ketumbar bubuk adalah biji ketumbar segar yang diolah menjadi bentuk bubuk halus.
                  Ketumbar bubuk digunakan untuk
                  memberikan rasa khas dan aroma pada berbagai hidangan seperti soto, kari, dan
                  gado-gado.</li>
              </ul>
              <div class="row">
                <div class="col-6">
                  <img src="/static/img/portfolio/ketumbar-bubuk.png" alt="" class="img-fluid">
                </div>
                <div class="col-6">
                  <img src="/static/img/portfolio/ketumbar-bubuk-2.jpeg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="resume-item">
              <h4>Cengkeh Bubuk:</h4>
              <ul>
                <li>Cengkeh bubuk adalah bunga cengkeh yang dikeringkan dan diolah menjadi bentuk
                  bubuk halus. Cengkeh bubuk digunakan untuk
                  memberikan rasa dan aroma khas pada masakan berbumbu, kue, dan minuman.</li>
              </ul>
              <div class="row">
                <div class="col-6">
                  <img src="/static/img/portfolio/cengkeh-bubuk.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-6">
                  <img src="/static/img/portfolio/cengkeh-bubuk-2.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="resume-item">
              <h4>Cabai Bubuk:</h4>
              <ul>
                <li>Cabai bubuk adalah cabai segar yang diolah menjadi bentuk bubuk halus. Cabai
                  bubuk digunakan untuk memberikan rasa pedas
                  dan warna merah pada masakan, saus, dan sambal.</li>
              </ul>
              <div class="row">
                <div>
                  <img src="/static/img/portfolio/cabai-bubuk.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="resume-item">
              <h4>Lengkuas Bubuk:</h4>
              <ul>
                <li>Lengkuas bubuk adalah lengkuas segar yang diolah menjadi bentuk bubuk halus.
                  Lengkuas bubuk digunakan sebagai pengganti
                  lengkuas segar dalam masakan, sup, dan saus.</li>
              </ul>
              <div class="row">
                <div class="col-6">
                  <img src="/static/img/portfolio/lengkuas-bubuk.png" alt="" class="img-fluid">
                </div>
                <div class="col-6">
                  <img src="/static/img/portfolio/lengkuas-bubuk-2.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Resep Makanan</h2>
          <p>Di bawah ini adalah contoh beberapa resep membuat masakan sederhana</p>
        </div>


        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-dasar">
            <div class="portfolio-wrap">
              <img src="/static/img/portfolio/brambang.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="/static/img/portfolio/brambang.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                  title="Bawang Merah Goreng"><i class="bx bx-plus"></i></a>
                <a href="resep1" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-dasar">
            <div class="portfolio-wrap">
              <img src="/static/img/portfolio/sambal-4.jpg" class="img-fluid" alt="" width="100%">
              <div class="portfolio-links">
                <a href="/static/img/portfolio/sambal-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox"
                  title="Sambal Bawang"><i class="bx bx-plus"></i></a>
                <a href="resep2" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-dasar">
            <div class="portfolio-wrap">
              <img src="/static/img/portfolio/kue-jahe-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="/static/img/portfolio/kue-jahe-1.jpg" data-gallery="portfolioGallery"
                  class="portfolio-lightbox" title="Kue Jahe"><i class="bx bx-plus"></i></a>
                <a href="resep3" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-dasar">
            <div class="portfolio-wrap">
              <img src="/static/img/portfolio/jamu-temulawak-2.jpeg" class="img-fluid" alt="" width="100%">
              <div class="portfolio-links">
                <a href="/static/img/portfolio/jamu-temulawak-2.jpeg" data-gallery="portfolioGallery"
                  class="portfolio-lightbox" title="Jamu Temulawak"><i class="bx bx-plus"></i></a>
                <a href="resep4" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-turunan">
            <div class="portfolio-wrap">
              <img src="/static/img/portfolio/tumis-kangkung-1.jpeg" class="img-fluid" alt="" width="100%">
              <div class="portfolio-links">
                <a href="/static/img/portfolio/tumis-kangkung-1.jpeg" data-gallery="portfolioGallery"
                  class="portfolio-lightbox" title="Tumis Kangkung"><i class="bx bx-plus"></i></a>
                <a href="resep5" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Manfaat</h2>
          <p>Bumbu dapur adalah bahan-bahan alami yang digunakan dalam memasak untuk memberikan rasa, aroma, warna, dan
            tekstur pada
            masakan. Penggunaan bumbu dapur memiliki berbagai manfaat, baik dari segi rasa makanan, kesehatan, maupun
            aspek lainnya.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-cup-hot-fill"></i></div>
            <h4 class="title"><a>Meningkatkan Rasa dan Aroma Makanan</a></h4>
            <p class="description">Bumbu dapur, seperti bawang putih, jahe, atau Cabai, memberikan rasa dan aroma khas
              pada masakan. Mereka dapat
              meningkatkan kenikmatan rasa makanan, membuatnya lebih lezat dan menggugah selera.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="fas fa-utensils"></i></div>
            <h4 class="title"><a>Variasi Masakan</a></h4>
            <p class="description">Dengan beragam jenis bumbu dapur yang tersedia, kita dapat menciptakan variasi
              masakan yang berbeda-beda. Penggunaan
              berbagai bumbu memungkinkan kita untuk menyesuaikan rasa dan karakteristik masakan sesuai dengan selera
              dan preferensi
              masing-masing.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-droplet"></i></div>
            <h4 class="title"><a>Pemberi Warna Alami</a></h4>
            <p class="description">Beberapa bumbu dapur, seperti kunyit, paprika, dan saffron, memiliki warna alami yang
              dapat mempercantik tampilan
              hidangan. Penggunaan bumbu ini memberikan sentuhan warna yang menarik pada masakan.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="fa fa-spoon"></i></div>
            <h4 class="title"><a>Penyedap Alami</a></h4>
            <p class="description">Beberapa bumbu dapur dapat berfungsi sebagai penyedap alami, mengurangi kebutuhan
              penggunaan garam atau penyedap buatan
              dalam masakan. Contohnya, bawang putih, bawang merah, dan garam dapur dapat memberikan rasa gurih pada
              masakan.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="fa fa-dumbbell"></i></div>
            <h4 class="title"><a>Meningkatkan Sistem Kekebalan Tubuh</a></h4>
            <p class="description">Beberapa bumbu dapur, seperti bawang putih dan jahe, diketahui memiliki efek positif
              pada sistem kekebalan tubuh.
              Senyawa aktif dalam bumbu ini dapat membantu meningkatkan respon imun tubuh terhadap infeksi.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            <h4 class="title"><a>Mengurangi Penggunaan MSG</a></h4>
            <p class="description">Dengan penggunaan bumbu dapur yang tepat, kita dapat mengurangi ketergantungan pada
              monosodium glutamat (MSG) atau
              penyedap rasa buatan lainnya yang mungkin berdampak negatif pada kesehatan jika dikonsumsi secara
              berlebihan.</p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <section class="button-container">
      <button onclick="redirectLink()">
        <span>Identifikasi Rempah-Rempahmu !</span>
      </button>
    </section>


  </main><!-- End #main -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/vendor/aos/aos.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/vendor/typed.js/typed.umd.js"></script>
  <script src="/static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>
  <script>
    (function ($) {
      "use strict";

      jQuery('#vmap').vectorMap({
        map: 'world_en',
        backgroundColor: null,
        color: '#ffffff',
        hoverOpacity: 0.7,
        selectedColor: '#1de9b6',
        enableZoom: true,
        showTooltip: true,
        values: sample_data,
        scaleColors: ['#1de9b6', '#03a9f5'],
        normalizeFunction: 'polynomial'
      });
    })(jQuery);
  </script>
  <script>
    function redirectLink() {
      window.location.href = "klasifikasi"; // Ganti dengan link yang diinginkan
    }
  </script>
</body>

</html>